#root {
  position: relative;
  top: -24px;
}
body{
  height: 100vh;
}
.overlay{
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(47, 91, 140, 0.3);
}
.App {
  /*opacity: 0.9;*/
  padding: 1rem;
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items:start;
  gap: 4rem;
  background-image: url("../../assets/baground.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
.weather-container {
  backdrop-filter: blur(20px);
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
   border-radius: 8px;
 box-shadow: 0 4px 10px rgb(49, 48, 48);
 z-index: 200;
 margin-top: 20px;
}
.search-bar {
  display: flex;
  margin: 0;
  padding: 5px;
  align-items: center;
  gap: 1px;
  width: 50%;
  height: 50px;

}
.WeatherInput{
  height: 100%;
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgb(49, 48, 48);
}


.weather-details{
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 200;
}
.city-temp{
  width: 60%;
}
.cityName {
  font-size: 6rem;
  margin: 0;
  color: #fcfafa;
  text-shadow: 0 4px 10px rgb(18, 18, 18);
}
.temprature{
  font-size: 5rem;
  margin: 25px 0 15px 0;
  color: #fcfafa;
  font-weight: 600;
  text-shadow:0 4px 10px rgb(18, 18, 18);
}
.btn-getweather, .btn-getweather-night{
    height: 40px;
    backdrop-filter: blur(10px);
    width: 120px;
    font-size: 1rem;
    backdrop-filter: blur(20px);
    border-radius: 0 10px 10px 0;
    border: none;
    color: #f6f4f4;
    box-shadow: 0 4px 10px rgb(26, 25, 25);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-weight: 700;
}
.btn-getweather{
  background-color: #0b598c;
}
.btn-getweather-night,.forecast-night,.weather-discribtion-night .discribtionitems{
  background: linear-gradient(45deg, #1c1c1c, #0b588c69);
  box-shadow: 0 4px 10px rgb(41, 41, 41);
}
.search{
  border-radius: 8px 0 0 8px;
  border: none;
  height: 40px;
  width: 80%;
  padding: 5px;
  box-shadow: 0 4px 10px rgb(4, 4, 4);
}
.Error {
  color: rgb(209, 20, 20);
  font-size: 25px;
  margin-top: 10px;
  text-align: center;
  font-weight: 500;
  text-shadow: #2e2e2e 1px 1px 4px;
  padding: 5px;
  width: 100%;
  animation: blink 3s infinite;
}
  @keyframes blink {
      0%, 100% {
        opacity: 1; /* fully visible */
      }
      50% {
        opacity: 0; /* invisible */
      }
  }
  .inline-wrap1{
    display: flex;
    justify-content: space-between;
    width: 84%;
    align-items: center;
  }
  .inline-wrap2{
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
.weather-discribtion, .forecast,.weather-discribtion-night{
  display: flex;
  margin: 20px;
  padding: 15px;
  gap: 15px;
  flex-wrap: wrap;
  max-width: 50%;
  height: 340px;  
}
 .forecast-items{
  font-size: 1rem;
  display: flex;
  justify-content: center;
  padding: 10px;
  justify-content: space-between;
  gap: 15px;
 }
 .forecast-item ,.forecast-item p{
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 }
 .forecast-item h4{
  font-size: 1.2rem;
  color: #f6f4f4;
  text-shadow: 0 4px 10px rgb(18, 18, 18);

 }
.forecast,.forecast-night{
  font-size: 1rem;
  box-shadow: 0 2px 20px rgb(18, 18, 18);
backdrop-filter: blur(3px);
color: #fcfafa;
border-radius: 20px;
position: relative;
top: 4%;
text-shadow: 0 4px 10px rgb(18, 18, 18);
padding-top: 30px;
height: 50%;
}
.forecast{
 background:linear-gradient(45deg, #82bbe0, #0b598c); 
}
.CityCondition{
  font-size: 1.5rem;
  font-weight: 500;
  color: #f6f4f4;
  text-shadow: 0 4px 10px rgb(18, 18, 18);
  font-style: italic ;
}
.discribtionitems{
  background:linear-gradient(45deg, #82bbe0, #0b598c);
}

.discribtionitems,.weather-discribtion-night .discribtionitems {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 120px;
  height: 120px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgb(18, 18, 18);
  backdrop-filter: blur(5px);
  color: #f6f4f4;
  font-size: 0.9rem;
  text-align: center;
  gap: 3px;
  text-shadow: 0 4px 10px rgb(18, 18, 18);
  margin-top: 60px;
}
.icons{
  font-size: 1.5rem;
  color: #f6f4f4;
  margin-bottom: 10px;
  text-shadow: 0 4px 10px rgb(18, 18, 18)
}
.date{
  font-size: 1.5rem;
  color: #e7f2f9;
  text-shadow:0 4px 10px rgb(5, 5, 5);
  font-weight: 700;
  font-style: italic;
}
.sun-box {
  text-align: center;
  margin-top: 2rem;
}

.sun-wrapper {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
  color: #fcfafa;
  font-size: 1.2rem;
  text-shadow: 0 4px 10px rgb(18, 18,18);
}

.sunrise, .sunset {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: capitalize;
}
.sun-container {
  position: relative;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}


.sunimg {
  animation: float 2s ease-in-out infinite;
  z-index: 6;
}
 .rainimg,.moonimg , .sunimg {
  width: 150px;
  margin-bottom: 60px;
 opacity: 0.8;
}
.cloudyimg {
  width: 350px;
  margin-bottom: 30px;
}
@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

@media (max-width: 768px) {
  body{
    height: 100vh;
  }
  .App{
    padding: 1rem;
    height: 100vh;
    width: 100vw;
    /*background-image: url('../../assets/smallscr.avif');*/
  }
  .btn-getweather{
    font-size: 0.9rem;
  }
  .weather-container {
    flex-direction: column;
    gap: 10px;
  }
  .search-bar {
    width: 100%;
  }
  .weather-details {
   width: 100%;
   max-height:490px;
   overflow-y: auto;
   overflow-x: hidden;
  scrollbar-width: thin;
  z-index: 200;
  margin-top: 100px;
  }

  .inline-wrap1,.inline-wrap2{
    width: 100%;
    flex-direction: column;
    margin-bottom: 30px;

  }
  .city-temp {
    width: 100%;
    margin-top: -1rem;
  }
  .sun-box{
    margin: 0 0 0 60%;
  }
  .weather-discribtion{
    width: 100%;
    height: auto;
    margin: 0 0 105px 0;
    display: flex;
    flex-direction: row;
    max-width: none;
  }
  .forecast {
    gap: 10px;
    padding: 5px;
    max-width: none;
    justify-content: space-evenly;
  }
  .forecast-items{
    width: 100%;
    justify-content: space-evenly;
  }
}
@media (min-width:769px) and (max-width: 1024px) {
  .weather-details {
    width: 100%;
    max-height: 400px;
    /*overflow-y: auto;
    scrollbar-width: thin;*/
    z-index: 200;
  }
  .cityName {
    font-size: 4rem;
  }
  .temprature {
    font-size: 4rem;
  }
  .city-temp span{
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 400;
  }
}
@media (min-width: 912px) and (max-width: 1280px) {
  .App {
    padding: 1rem;
    height: 100vh;
    width: 100vw;
  }
  .weather-details {
    width: 100%;
    /*overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;*/
    z-index: 200;
  }
  .inline-wrap1{
    margin-bottom: 120px;
  }
  .inline-wrap2{
    gap: 0;
    height: 510px;
    flex-direction: column;
  }
  .weather-discribtion{
    width: 95%;
    margin: 0;
     height: auto;
     max-width: none;
  }

  .discribtionitems {
    width: 140px;
    height: 140px;
    font-size: 1rem;
    padding: 10px;
    gap: 3px;
  
  }
    .icons{
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .cityName {
    font-size: 5rem;  
  }
  .temprature {
    font-size: 5rem;
  }
  .city-temp span{
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 400;
  }
  .forecast{
    width: 95%;
    position: relative;
    top: 6%;
    margin: 0;
  }
  .forecast-items {
    width: 100%;
    height: 100%;
    justify-content: space-between;
  }
}


@media (max-width: 480px) {
  .cityName {
    font-size: 3rem;
  }
  .temprature {
    font-size: 3rem;
  }
  .city-temp span{
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
  }
  .weather-discribtion  {     
    width: 100%;
    height: auto;
    margin: 0 0 105px 0;
    display: flex;
    flex-direction: row;
    max-width: none;
  }
  .forecast{
    width: 100%;
    height: 320px;
    margin: 0 0 75px 0;
    max-width: none;
    justify-content: space-evenly;
  }
  .discribtionitems {
    width: 80px;
    height: 80px;
    font-size: 0.8rem;
    padding: 5px;
    gap: 1px;
  }
  .icons{
    margin-bottom: 7px;
  }
  .forecast-items {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .forecast-item {
    width: 100%;
    align-items: center;
    flex-direction: row;
    gap: 10px;
  }
  .forecast-item p {
    font-size: 0.8rem;
    width: 5rem;
  }
  .forecast-item h4{
    font-size: 1rem;
    width: 6rem;
  }
  .sun-box {
    width: 100%;
    margin: 0;
  }
  .sun-wrapper {
    flex-direction: column;
    align-items: end;
    gap: 20px;
  }
  .sun {
    width: 4rem;
    height: 4rem;
  }
  .sunrise, .sunset {
    margin-bottom: 1rem;
    font-size: 1rem;
    text-shadow: 0 2px 5px rgb(18, 18, 18);
  }
}